{
    "scheduled_runs": [
        {
            "script": "HelloWorld",
            "tag": "auto_HelloWorld",
            "schedule": {
                "type": "daily",
                "hour": 12
            }
        }
    ],
    "priorities": [
        "low",
        "high"
    ]
}